body{
    background-color:  hsl(203, 41%, 72%);
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;

}
.div1{
    align-items: center;
    display: flex;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.div5{
    border: 2px solid black;
    border-radius: 10px;
    height: 35px;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    
    
    
}
.div6{
    border: 2px solid hsl(61, 70%, 52%);
    background-color: hsla(61, 70%, 52%, 0.219);
    border-radius: 10px;
    height: 35px;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.clear{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pount-sign{
    display: flex;
    align-items: center;
    border: 2px solid hsl(61, 70%, 52%);
    height: 30px;
    border-radius: 10px;
}

.pound{
    font-size: 25px;
    background-color: hsl(61, 70%, 52%);
    height: 30px;
    width: 40px;
    text-align: center;

}

.input1{
    border: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.div3{
    display: flex;
    align-items: center;
    gap: 20px;



}

.p2{
    background-color: hsl(202, 86%, 94%);
    height: 20px;
    width: 50px;
    text-align: center;
}
.years{
    background-color: hsl(202, 86%, 94%);
    height: 20px;
    width: 50px;
    text-align: center;
}
.input2{
    border: 2px solid grey;
    width: 100px;
    height: 20px;
    border-radius: 5px;

}
.results{
    background-color: hsl(202, 55%, 16%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
    height: 500px;
    width: 500px; 
    
}

.results h1{
    color: white;
}
.results p{
    color: hsl(203, 41%, 72%);
    text-align: center;
}
.years{
    height: 30px;
    display: flex;
    align-items: center;
}

.morgage-input{
    display: flex;
    align-items: center;
    border: 1px solid hsl(203, 41%, 72%);
    height: 30px;
    border-radius: 3px;
}
.morgage-input input{
    outline: none;
    border: none;
    height: 90%;
}

.morgage-input p{
    height: 100%;
    padding-left: 5px;
}
.interest-rate-input{
    display: flex;
    align-items: center;
    border: 1px solid  hsl(203, 41%, 72%);
    height: 30px;
    border-radius: 3px;
}
.input2{
    outline: none;
    border: none;
    height: 90%;

}
.p2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.div2{
    padding: 30px;
    width: 400px;
    
}
button{
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: hsl(61, 70%, 52%);
    
}
.buttonimg{
    margin-right: 10px;
}
.p3{
    color:  hsl(203, 41%, 72%);
}
.h1{
    color:  hsl(203, 41%, 72%);
}
.p4{
    color:  hsl(203, 41%, 72%);
}